
.banner_contener{
    padding-top: 160px;
    height: 87vh;
    background-image: url('../assets/images/BG_icon.png');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
   
}

.me_image{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 80px;
}
.banner_tex{
    font-size: 72px;
    line-height: 77px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    margin-top: 53px;
    padding-left: 70px;
}
.span1{
   color: rgba(10, 232, 94, 1);
}
.scroll_down{
    position: absolute;
    bottom: -50px;
    left: 55%;
    transform: translateX(-50%);
    cursor: pointer;
    animation: bounce 2s infinite;
}
@media screen and (min-width: 1401px) and (max-width: 1750px)  {
    .banner_tex{
        font-size: 50px;
        line-height: 60px;
    }
    .banner_contener{
        padding-top: 80px; 
    }
  }
@media screen and (max-width:1400px) {
    .banner_tex{
        font-size: 50px;
        line-height: 60px;
    }
    .banner_contener{
        padding-top: 40px; 
    }
  }
  
@media (max-width: 768px) {
    .banner_contener{
        background-image: unset;    
        padding-top: 100px;
        height: unset;
    }
    .scroll_down{
        display: none;
    }
    .banner_tex{
        font-size: 35px;
        line-height: 40px;  
        padding-left: 0;
    }
    .me_image{
        padding-left: 0px;
    }
  
  }