.project_contain_container {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.project_contain_container img {
    width: 100%;
}

.project_contain_container2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 0 100px;
    margin-top: 50px;

}

.project_contain_container2 img {
    width: 100%;
}

.project_container h2 {
    text-align: center;
    font-size: 58px;
    line-height: 76px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
}

.project_contain h3 {
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    margin-top: 10px;
    padding: 0 15px;
}

.project_contain p {
    font-size: 16px;
    line-height: 28px;
    font-weight: 700;
    color: rgba(189, 189, 189, 1);
    padding: 0 15px;
}

.button_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 0 15px;
}

.button_container button {
    background: rgba(202, 246, 224, 0.08);
    border-radius: 5px;
    padding: 5px 10px;
    color: rgba(255, 255, 255, 1);
}

.project_link {
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    color: rgba(10, 232, 94, 1);
    position: relative;
    transition: color 0.3s ease-in-out;
    position: absolute;
    bottom: 15px;
    padding: 0 15px;
    padding-right: 22px;
}

.project_link:hover {
    color: rgba(255, 255, 255, 1);
}

.project_link::before {
    content: url('../assets/images/live_project_icon.png');
    position: absolute;
    right: 0;
    top: 0;
    transition: transform 0.3s ease;
}

.project_link:hover::before {
    transform: translateY(-7px);
}

.see_more_link_container {
    text-align: center;
    margin-top: 50px;
}

.see_more_link {
    background: rgba(202, 246, 224, 0.08);
    border-radius: 20px;
    padding: 13px 30px;
    color: rgba(10, 232, 94, 1);
    transition: all 0.3s ease-in-out;
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
}
.see_more_link:hover{
    background: rgba(255, 255, 255, 1);
    color: rgba(36, 36, 36, 1);
}
.project_contain{
    height: 500px;
    position: relative;
    background: rgba(36, 36, 36, 1);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
@media screen and (min-width: 767px) and (max-width: 1499px) {
    .project_contain_container .project_contain{
        height: 570px;
        position: relative;
        background: rgba(36, 36, 36, 1);
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
    .project_contain_container .button_container {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .project_contain_container .button_container button {
       width: 100%;
       margin-bottom: 10px;
    }
    .project_contain_container2 .project_contain{
        height: 480px;
        position: relative;
        background: rgba(36, 36, 36, 1);
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
    .project_contain_container2 .button_container {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .project_contain_container2 .button_container button {
       width: 100%;
       margin-bottom: 10px;
      
    }
    
}
@media screen and (max-width:767px) {
    .project_link {
        position: relative;
        margin-bottom: 30px;
        padding-right: 25px;
    }
    .project_contain{
        height: 100%;
    }
    .button_container {
        padding-bottom: 15px;
    }
    .project_contain_container {
        margin-top: 70px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 40px;
    }

    .project_contain_container2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 25px;
        padding: 0;
        margin-top: 50px;

    }

    .project_container h2 {
        font-size: 40px;
        line-height: 50px;
    }
}